/*
 * styling of the one page
 *
 */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FontAwesome/FontAwesome.eot");
  src: url("../fonts/FontAwesome/FontAwesome.eot?#iefix") format("embedded-opentype"), url("../fonts/FontAwesome/FontAwesome.woff") format("woff"), url("../fonts/FontAwesome/FontAwesome.ttf") format("truetype"), url("../fonts/FontAwesome/FontAwesome.svg#FontAwesome") format("svg");
}
/* line 12, ../scss/_icons.scss */
.bt-icon:before,
.bt-icon-alt:before {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
}

/* line 27, ../scss/_icons.scss */
.icon-twitter:before {
  content: "\f099";
}

/* line 31, ../scss/_icons.scss */
.icon-gplus:before {
  content: "\f0d5";
}

/* line 35, ../scss/_icons.scss */
.icon-mail:before {
  content: "\f003";
}

/* line 39, ../scss/_icons.scss */
.icon-facebook:before {
  content: "\f09a";
}

/* line 5, ../scss/_general.scss */
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../scss/_general.scss */
body {
  background: #F2562E;
  color: #333;
  font-family: 'Lato', Arial, sans-serif;
}

/* line 18, ../scss/_general.scss */
.container {
  padding: 80px;
}

/* line 22, ../scss/_general.scss */
a,
a:focus {
  outline: none;
}

/**
  * This menu is hugely inspired from Mary Lou work, especially model 2 and 5
  * Source : http://tympanus.net/codrops/2013/09/30/animated-border-menus/
  */
@media (max-width: 991px) {
  /**
    * The trick is that we use the border of the nav element as the menu while its content serve as a curtain over the full page
    */
  /* line 12, ../scss/_menu.scss */
  .bt-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(51, 51, 51, 0.8);
    background-color: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
    transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  }

  /* line 28, ../scss/_menu.scss */
  .bt-menu.bt-menu-open {
    height: 100%;
    border-width: 0px 0px 50px 150px;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: border-width 0.3s, background-color 0.3s;
    transition: border-width 0.3s, background-color 0.3s;
  }

  /**
    * Curtain
    */
  /* The following is applied by menusection.js on a div it created itself
  It sole purpose is to isolate nav content
  The listener closes the menu */
  /* line 42, ../scss/_menu.scss */
  .bt-overlay {
    position: absolute;
    width: 100%;
    cursor: pointer;
  }

  /* line 48, ../scss/_menu.scss */
  .bt-menu-open .bt-overlay {
    height: 100%;
  }

  /**
    * Hamburger
    */
  /* line 56, ../scss/_menu.scss */
  .bt-menu-trigger {
    position: fixed;
    top: 15px;
    left: 20px;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  /* line 66, ../scss/_menu.scss */
  .bt-menu-trigger span {
    position: absolute;
    width: 100%;
    height: 4px;
    top: 50%;
    left: 0;
    margin-top: -2px;
    display: block;
    background-color: #fff;
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  /* line 88, ../scss/_menu.scss */
  .bt-menu-trigger span:before,
  .bt-menu-trigger span:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }

  /* line 100, ../scss/_menu.scss */
  .bt-menu-trigger span:before {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
  }

  /* line 104, ../scss/_menu.scss */
  .bt-menu-trigger span:after {
    -webkit-transform: translateY(250%);
    transform: translateY(250%);
  }

  /**
    * Cross
    */
  /* line 113, ../scss/_menu.scss */
  .bt-menu-open .bt-menu-trigger span {
    background-color: transparent;
  }

  /* line 117, ../scss/_menu.scss */
  .bt-menu-open .bt-menu-trigger span:before {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }

  /* line 121, ../scss/_menu.scss */
  .bt-menu-open .bt-menu-trigger span:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
  }

  /**
    * Menu items position
    */
  /* line 129, ../scss/_menu.scss */
  .bt-menu ul {
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* line 136, ../scss/_menu.scss */
  .bt-menu ul:first-of-type {
    top: 75px;
    left: 0;
  }

  /* line 141, ../scss/_menu.scss */
  .bt-menu ul:nth-of-type(2) {
    right: 20px;
    bottom: 0;
  }

  /* line 146, ../scss/_menu.scss */
  .bt-menu ul:nth-of-type(2) li {
    float: left;
    font-size: 0px;
  }

  /**
    * Menu items animation
    */
  /* line 154, ../scss/_menu.scss */
  .bt-menu ul li,
  .bt-menu ul li a {
    display: block;
  }

  /* line 159, ../scss/_menu.scss */
  .bt-menu ul li {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
    transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
  }

  /* line 166, ../scss/_menu.scss */
  .bt-menu.bt-menu-open ul:first-of-type li,
  .bt-menu.bt-menu-open ul:nth-of-type(2) li {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
    transition: transform 0.3s, opacity 0.3s;
  }

  /* First menu animation */
  /* line 175, ../scss/_menu.scss */
  .bt-menu ul:first-of-type li {
    width: 150px;
    height: 50px;
    line-height: 50px;
    -webkit-transform: translate3d(-100%, 50%, 0);
    transform: translate3d(-100%, 50%, 0);
  }

  /* line 183, ../scss/_menu.scss */
  .bt-menu.bt-menu-open ul:first-of-type li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* Second menu animation */
  /* line 190, ../scss/_menu.scss */
  .bt-menu ul:nth-of-type(2) li {
    width: 60px;
    height: 50px;
    line-height: 50px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  /* line 199, ../scss/_menu.scss */
  .bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }

  /* line 199, ../scss/_menu.scss */
  .bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  /* line 199, ../scss/_menu.scss */
  .bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  /* line 199, ../scss/_menu.scss */
  .bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }

  /* line 205, ../scss/_menu.scss */
  .bt-menu.bt-menu-open ul:nth-of-type(2) li {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  /* Second menu animation end*/
  /* line 212, ../scss/_menu.scss */
  .bt-menu ul:first-of-type li a {
    padding: 0 20px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }

  /* line 224, ../scss/_menu.scss */
  .bt-menu ul:first-of-type li:last-child a {
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px rgba(0, 0, 0, 0.2);
  }

  /* line 228, ../scss/_menu.scss */
  .bt-menu ul:nth-of-type(2) li a {
    color: transparent;
    text-align: center;
    font-size: 0px;
  }

  /* line 234, ../scss/_menu.scss */
  .bt-menu ul li a:before {
    color: #fff;
    font-size: 24px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }

  /* line 241, ../scss/_menu.scss */
  .bt-menu ul:first-of-type li a:hover,
  .bt-menu ul:first-of-type li a:focus,
  .bt-menu ul li a:hover:before,
  .bt-menu ul li a:focus:before {
    color: #999;
  }
}
@media (min-width: 992px) {
  /* line 252, ../scss/_menu.scss */
  nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: rgba(51, 51, 51, 0.8);
  }

  /* line 262, ../scss/_menu.scss */
  nav a,
  nav ul {
    list-style: none;
    color: #fff;
  }

  /* line 269, ../scss/_menu.scss */
  nav a:first-of-type,
  nav ul:first-of-type {
    padding-top: 15px;
  }

  /* line 273, ../scss/_menu.scss */
  nav ul:nth-of-type(2) {
    padding-top: 10px;
  }

  /* line 278, ../scss/_menu.scss */
  nav ul:first-of-type li {
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: inset 1px 0px rgba(0, 0, 0, 0.2);
  }

  /* line 283, ../scss/_menu.scss */
  nav ul:first-of-type li:last-child {
    box-shadow: inset 1px 0px rgba(0, 0, 0, 0.2), inset -1px 0px rgba(0, 0, 0, 0.2);
  }

  /* line 286, ../scss/_menu.scss */
  nav ul:nth-of-type(2) li {
    width: 50px;
  }

  /* line 290, ../scss/_menu.scss */
  nav ul li {
    float: left;
  }

  /* line 295, ../scss/_menu.scss */
  nav ul:nth-of-type(2) li a {
    font-size: 0px;
  }

  /* line 298, ../scss/_menu.scss */
  nav ul:nth-of-type(2) li a:before {
    font-size: 24px;
  }

  /* line 302, ../scss/_menu.scss */
  nav a:hover,
  nav a:focus,
  nav ul li a:hover,
  nav ul li a:focus {
    color: #999;
  }
}
/**
  * This class is a mere adaptation of Mary Lou's work
  * Source : http://tympanus.net/codrops/2013/10/03/a-collection-of-separator-styles/
  * IMPORTANT : This file plays with z-index and position: relative, be sure to adapt
  */
/* We must adapt a few containers to have a clean playground */
/* line 8, ../scss/_sections.scss */
.container {
  overflow: hidden;
  width: 100%;
  padding: 0px;
  /* we don't want the pseudo-elements sticking out */
}

/* line 15, ../scss/_sections.scss */
body {
  margin: 0px;
}

/* line 18, ../scss/_sections.scss */
nav {
  z-index: 3;
}

/* line 21, ../scss/_sections.scss */
header {
  padding: 88px 32px 112px 32px;
  text-align: center;
}

/* line 25, ../scss/_sections.scss */
h1 {
  padding-top: 50px;
}

/* line 28, ../scss/_sections.scss */
footer,
section {
  text-align: center;
  padding: 160px;
  width: 100%;
  position: relative;
}

/* line 35, ../scss/_sections.scss */
section > .row {
  text-align: left;
  margin: 0 auto;
  width: 992px;
  display: inline-block;
  float: none;
}

/* line 42, ../scss/_sections.scss */
footer {
  padding: 20px 80px 0px 80px;
  text-align: center;
}

/* Section color alternance */
/* line 48, ../scss/_sections.scss */
.color-separator:nth-child(odd) {
  background: #F2562E;
}

/* line 51, ../scss/_sections.scss */
.color-separator:nth-child(even) {
  background: #ee3c0f;
}

/* Common style for pseudo-elements */
/* line 56, ../scss/_sections.scss */
footer::before,
footer::after,
section::before,
section::after {
  position: absolute;
  content: '';
}

/* line 63, ../scss/_sections.scss */
section::after {
  z-index: 1;
}

/* Triangles */
/* line 68, ../scss/_sections.scss */
.triangles-separator::before,
.triangles-separator::after {
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

/* line 77, ../scss/_sections.scss */
.triangles-separator::before {
  top: -50px;
  background: inherit;
}

/* line 82, ../scss/_sections.scss */
.triangles-separator::after {
  bottom: -50px;
  background: inherit;
}

/* Triple Triangles */
/* line 88, ../scss/_sections.scss */
.triple-triangles-separator::before,
.triple-triangles-separator::after {
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

/* line 97, ../scss/_sections.scss */
.triple-triangles-separator::before {
  top: -25px;
  background: inherit;
  box-shadow: -50px 50px 0, 50px -50px 0;
  color: #F2562E;
}

/* line 104, ../scss/_sections.scss */
.triple-triangles-separator::after {
  bottom: -25px;
  background: inherit;
  box-shadow: -50px 50px 0, 50px -50px 0;
  color: #F2562E;
}

/* Half Circle */
/* line 112, ../scss/_sections.scss */
.halfcircle-separator::before,
.halfcircle-separator::after {
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: inherit;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 123, ../scss/_sections.scss */
.halfcircle-separator::before {
  top: -50px;
}

/* line 127, ../scss/_sections.scss */
.halfcircle-separator::after {
  bottom: -50px;
}

/* Edges */
/* line 132, ../scss/_sections.scss */
.roundedges-separator::before,
.roundedges-separator::after {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: inherit;
  top: -100px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 143, ../scss/_sections.scss */
.roundedges-separator::before {
  left: -100px;
}

/* line 147, ../scss/_sections.scss */
.roundedges-separator::after {
  right: -100px;
}

/**
  * This contain classes which affect only specific elements
  */
/* line 7, ../scss/_targeted.scss */
.logo {
  margin: 0 auto;
  margin-top: 20px;
  background: #F2562E;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  -moz-text-orientation: upright;
  -ms-text-orientation: upright;
  text-orientation: upright;
}

/* line 27, ../scss/_targeted.scss */
.logo span {
  font-size: 75px;
  padding-right: 181.25px;
  line-height: 200px;
}

/* line 33, ../scss/_targeted.scss */
header h1 {
  font-size: 2.625em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}

/* line 39, ../scss/_targeted.scss */
header h1 span {
  font-size: 60%;
  display: block;
}
