/**
  * CREATED  : 24-04-16
  * MODIFIED : 24-04-16
  */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* line 12, ../scss/menusection.scss */
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
  * General Appearance
  */
/* line 25, ../scss/menusection.scss */
body {
  background: #F2562E;
}

/* line 28, ../scss/menusection.scss */
.container {
  padding: 80px;
}

/**
  * Menu
  */
/* line 35, ../scss/menusection.scss */
.bt-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #c7320c;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

/* line 51, ../scss/menusection.scss */
.bt-menu.bt-menu-open {
  height: 100%;
  border-width: 30px 30px 50px 150px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: border-width 0.3s, background-color 0.3s;
  transition: border-width 0.3s, background-color 0.3s;
}

/* The following is applied by menusection.js on a div it created itself
It sole purpose is to isolate an area for a listener, the area being the whole screen except the menu
The listener closes the menu */
/* line 62, ../scss/menusection.scss */
.bt-overlay {
  position: absolute;
  width: 100%;
  cursor: pointer;
}

/* line 68, ../scss/menusection.scss */
.bt-menu-open .bt-overlay {
  height: 100%;
}

/**
  * Hamburger
  */
/* line 76, ../scss/menusection.scss */
.bt-menu-trigger {
  position: fixed;
  top: 15px;
  left: 20px;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* line 86, ../scss/menusection.scss */
.bt-menu-trigger span {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 50%;
  left: 0;
  margin-top: -2px;
  display: block;
  background-color: #fff;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

/* line 107, ../scss/menusection.scss */
.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

/* line 119, ../scss/menusection.scss */
.bt-menu-trigger span:before {
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%);
}

/* line 123, ../scss/menusection.scss */
.bt-menu-trigger span:after {
  -webkit-transform: translateY(250%);
  transform: translateY(250%);
}

/**
  * Cross
  */
/* line 132, ../scss/menusection.scss */
.bt-menu-open .bt-menu-trigger span {
  background-color: transparent;
}

/* line 136, ../scss/menusection.scss */
.bt-menu-open .bt-menu-trigger span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

/* line 140, ../scss/menusection.scss */
.bt-menu-open .bt-menu-trigger span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

/**
  * Menu items position
  */
/* line 148, ../scss/menusection.scss */
.bt-menu ul {
  position: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 155, ../scss/menusection.scss */
.bt-menu ul:first-of-type {
  top: 75px;
  left: 0;
}

/* line 160, ../scss/menusection.scss */
.bt-menu ul:nth-of-type(2) {
  right: 0;
  bottom: 0;
}

/* line 165, ../scss/menusection.scss */
.bt-menu ul:nth-of-type(2) li {
  float: left;
}

/**
  * Menu items animation
  */
/* line 173, ../scss/menusection.scss */
.bt-menu ul li,
.bt-menu ul li a {
  display: block;
}

/* line 178, ../scss/menusection.scss */
.bt-menu ul li {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
  transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

/* line 185, ../scss/menusection.scss */
.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
  transition: transform 0.3s, opacity 0.3s;
}

/* First menu animation */
/* line 194, ../scss/menusection.scss */
.bt-menu ul:first-of-type li {
  width: 150px;
  height: 50px;
  line-height: 50px;
  -webkit-transform: translate3d(-100%, 50%, 0);
  transform: translate3d(-100%, 50%, 0);
}

/* line 202, ../scss/menusection.scss */
.bt-menu.bt-menu-open ul:first-of-type li {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Second menu animation */
/* line 209, ../scss/menusection.scss */
.bt-menu ul:nth-of-type(2) li {
  width: 60px;
  height: 50px;
  line-height: 50px;
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* line 218, ../scss/menusection.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(1) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 218, ../scss/menusection.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* line 218, ../scss/menusection.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* line 218, ../scss/menusection.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* line 224, ../scss/menusection.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Second menu animation end*/
