/**
  * Adaptation from : http://codepen.io/malko/pen/Eyxep
  */
.photogallery{
	top:150px;
	left:100px;
	height: 300px;
}
.photogallery li{
	position:absolute;
	display:block;
	margin: 30px;
	list-style-type:none;
	padding:10px 10px 30px 10px;
	background:#fff;
	border:solid black 1px;
	-webkit-box-shadow:2px 2px 4px #333333;
	-webkit-transition: -webkit-transform 0.5s ease;
	-moz-box-shadow:2px 2px 4px #333333;
	-moz-transition: -moz-transform 0.5s ease;
	box-shadow:2px 2px 4px #333333;
	transition: transform 0.5s ease;
}
.photogallery li.active{
	-webkit-transform:rotate(0deg) !important;
	-moz-transform:rotate(0deg) !important;
	transform:rotate(0deg) !important;
}
.photogallery img{
	display:block;
	width:160px;
	-webkit-transition: width 0.75s;
	-moz-transition: width 0.75s;
	transition: width 0.75s;
}
.photogallery .active img{
	display:block;
	width: 600px;
}

// Alternative for responsive design
.gallery { 
	text-align: center;
 }
.current-image-wrapper {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.current-image-wrapper img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 1.85s;
}
.current-image-wrapper .hideme {
  opacity: 0;
  transition: opacity 0s;
}
.thumbnails li, .thumbnails a, .thumbnails img {
  display: inline-block;
  width: 4.5em;
  height: 3em;
  border: none;
}
.thumbnails a { outline: none; }
