// Merge border, padding and content so the final size of the three is content size
// bottom nav border won't appear without it
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background: $bgColor;
	color: $textColor;
	font-family: 'Lato', Arial, sans-serif;
}
.container {
	padding: 80px;
}

a,
a:focus {
	outline: none;
}

// Media
img,
iframe {
	border-radius: 10px;
	margin: 5px;
}

// Captions, legends & co
.legend {
	font-size: 70%;
}
