/**
  * This class is a mere adaptation of Mary Lou's work
  * Source : http://tympanus.net/codrops/2013/10/03/a-collection-of-separator-styles/
  * IMPORTANT : This file plays with z-index and position: relative, be sure to adapt
  */

/* We must adapt a few containers to have a clean playground */
.container {
	overflow: hidden;
	width: 100%;
	padding: 0px;
	/* we don't want the pseudo-elements sticking out */
}

body {
	margin: 0px;
}
nav {
	z-index: 10;
}
header {
	padding: 88px 32px 112px 32px;
	text-align: center;
}
h1 {
	padding-top: 50px;
}
footer,
section {
	text-align: center;
	padding: 160px 0;
	width: 100%;
	position: relative;
}
section > .row{
	text-align: left; // because we don't want center from section
	margin: 0 auto;
	width: 992px;
	display: inline-block;
	float: none;
}
footer {
	padding: 20px 80px 0px 80px;
	text-align: center;
}

/* Section color alternance */
.color-separator:nth-child(odd) {
	background: $bgColor;
}
.color-separator:nth-child(even) {
	background: darken( $bgColor, 7%);
}

/* Common style for pseudo-elements */
footer::before,
footer::after,
section::before,
section::after {
	position: absolute;
	content: '';
}
section::after {
	z-index: 1;
}

/* Triangles */
.triangles-separator::before,
.triangles-separator::after {
	left: 50%;
	width: 100px;
	height: 100px;
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
}

.triangles-separator::before {
	top: -50px;
	background: inherit;
}

.triangles-separator::after {
	bottom: -50px;
	background: inherit;
}

/* Triple Triangles */
.triple-triangles-separator::before,
.triple-triangles-separator::after {
	left: 50%;
	width: 50px;
	height: 50px;
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
}

.triple-triangles-separator::before {
	top: -25px;
	background: inherit;
	box-shadow: -50px 50px 0, 50px -50px 0;
	color: $bgColor;
}

.triple-triangles-separator::after {
	bottom: -25px;
	background: inherit;
	box-shadow: -50px 50px 0, 50px -50px 0;
	color: $bgColor;
}

/* Half Circle */
.halfcircle-separator::before,
.halfcircle-separator::after {
	left: 50%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: inherit;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.halfcircle-separator::before {
	top: -50px;
}

.halfcircle-separator::after {
	bottom: -50px;
}

/* Edges */
.roundedges-separator::before,
.roundedges-separator::after {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: inherit;
	top: -100px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.roundedges-separator::before {
	left: -100px;
}

.roundedges-separator::after {
	right: -100px;
}
