/**
  * This contain rules which affect only few and specific elements
  */


$logoDiameter: 200px;
.logo {
	margin: 0 auto;
	margin-top: 20px;
	// Circle
	background: $bgColor;
	width: $logoDiameter;
	height: $logoDiameter;
	border-radius: $logoDiameter / 2;
	// Japanese reading direction
	ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	-webkit-text-orientation: upright;
	-moz-text-orientation: upright;
	-ms-text-orientation: upright;
	text-orientation: upright;
}

.logo span {
	font-size: $logoDiameter * 3 / 8;
	padding-right: $logoDiameter - ( $logoDiameter * 3 / 8) / 4;
	line-height: $logoDiameter; 
}

header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}
header h1 span {
	font-size: 60%;
	display: block;
}

#HOME img {
	float: right;
}
#HOME iframe {
	@media (max-width: 680px) { /* This is the point where it begins to lack space */
		width: 100%;
	}
}

#SERVICES h3 {
	margin: 0;
}
div.oddTitle,
div.evenTitle {
	background: $bgColor;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
}
.oddTitle h3 {
	text-align: left;
}
.evenTitle h3 {
	text-align: right;
}

.oddTitle p {
	text-align: right;
}
.evenTitle p {
	text-align: left;
}

.vs {
	padding: 30%;
	font-size: 500%;
}

.carousel {
	border-radius: 55px;
	overflow: hidden;
}
.carousel-inner img {
	margin: auto;
}

.panel-default > .panel-heading,
.panel {
	background: $bgColor;
	background-color: $bgColor;
}
.panel-body > img {
	float: left;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
	border-top: none;
}
.panel-default {
	border: $bgColor;
}

section#ABOUT > div.row > div,
section#ABOUT > div.row > div > div.row > div {
	padding: 0;
}
section#ABOUT > div.row > div > div.row {
	margin: 0;
}
section#ABOUT h3 {
	font-size: 120%;
	margin-top: 10px;
}

