/**
  * CREATED  : 24-04-16
  * MODIFIED : 24-04-16
  */

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

// Merge border, padding and content so the final size of the three is content size
// bottom nav border won't appear without it
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

$themeColor: #45D0F2, #FCE300, #F5CB02, #EFBB07, #F2562E;

body {
	background: nth($themeColor, 5);
}
.container {
	padding: 80px;
}

.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: darken( nth($themeColor, 5), 15%); // MENU BACKGROUND COLOR
	// black but transparent so not visible until menu opens (bt-menu-open)
	background-color: rgba(0,0,0,0); // Black but 100% transparent
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}
.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 30px 30px 50px 150px; // Menu background
	background-color: rgba(0,0,0,0.3); // a transparent curtain over full page
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

/* The following are applied by menusection.js on a div it created itself
It sole purpose is to isolate an area for a listener, the area being the whole screen except the menu
The listener closes the menu */
.bt-overlay {
	position: absolute;
	width: 100%;
}
.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
}
